.header {
    max-width: 1200px;
    background-color: royalblue;
    &-menu {
        background-color: green;
        &__list {
            display: flex;
            justify-content: space-between;
        }
        &__item {
            background-color: black;
            color: goldenrod;
        }
    }
}